.ky-classic-simplicity clevertar-chat .ky-bubble-block.ky-user .ky-msg {
    background-color: #F3C430 !important;
}

.ky-classic-simplicity clevertar-chat .ky-bubble-block.ky-user .ky-msg {
    color: black;
    border-color: none;
}